<section class="view view_1">
	<form action="/love-movie-search" class="view_cont">
		<div class="view_cont-wrap">
			<% Object.keys(geners).map((i) => { %>
			<% const gener = geners[i] %>
			<input id="view_itm-input_<%= i %>" class="view_itm-in" type="checkbox" name="geners[]" value="<%- gener.name %>">
			<label for="view_itm-input_<%= i %>" class="view_itm">
				<div class="view_itm-img"><img class="img-label" src="<%- gener.img %>"></div>
				<p class="view_itm-label-title">
					<%- gener.name %>
				</p>
			</label>
			<% }); %>
			<div class="view_cont-bottom">
				<button type="reset" class="view_cont-bottom-link view_cont-bottom-link__of btn">Отменить</button>
				<button type="submit" class="view_cont-bottom-link btn">Далее</button>
			</div>
		</div>
	</form>
</section>

<script src="/public/js/initSlick.js"></script>