<section class="view view_1 view_film">
    <form action="/recommendations" class="view_cont">
        <% geners.map((gener) => { %>
        <input type="text" value="<%- gener %>" style="display: none" name="geners" />
        <% }) %>
        <input type="text" id="search" class="vid_itm">
        <div class="view_cont-wrap" id="items">
            <% videos.map((video, i) => {%>
            <input type="checkbox" name="films[]" value="<%= video.id %>" class="view_itm-in"
                id="video_item_<%- i %>">
            <label for="video_item_<%- i %>" class="view_itm" style="display: inline-block">
                <div class="view_itm-img">
                    <a class="view_itm-link">
                        <img src="<%- video.image.small%>" alt="" class="view_itm-img-cont">
                    </a>
                </div>
                <p class="view_itm-title">
                    <%= video.title %>
                </p>
                <p class="view_itm-info">
                    <%= video.year %>,
                    <%= video.genres[0] %>
                </p>
            </label>
            <% }) %>
        </div>
        <div class="view_cont-bottom">
            <button type="reset" class="view_cont-bottom-link view_cont-bottom-link__of btn">Отменить</button>
            <button type="submit" class="view_cont-bottom-link btn">Далее</button>
        </div>
    </form>
</section>

<script src="/public/js/textSearch.js"></script>