<section class="view view-2 view_slide">
    <form action="#" class="view_cont">
        <input type="text" id="search" class="vid_itm">
        <div class="view_cont-wrap" id="items">
        <% videos.map((video, i) => {%>
        <input type="checkbox" value="" class="view_itm-in" id="video_item_<%- i %>">
        <label for="video_item_<%- i %>">
                <articl class="view_itm">
                    <div class="view_itm-img">
                        <a class="view_itm-link">
                            <img src="<%- video.image.small%>"
                                 alt="" class="view_itm-img-cont">
                        </a>
                    </div>
                    <p class="view_itm-title">
                        <%= video.title %>
                    </p>
                    <p class="view_itm-info"> <%= video.year %>,  <%= video.genres[0] %></p>
                </articl>
        </label>
        <% }) %>
        </div>
        <button type="reset">Отменить</button>
        <button type="submit">Далее</button>
    </form>
</section>

<script src="/public/js/textSearch.js"></script>