<% include components/top_block %>
<section class="view view_1 view_film">

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        style="position:absolute;width:0;height:0;overflow:hidden;">
        <symbol id="icon-arrow_1" fill="none" viewBox="0 0 28 22" id=".503836995956918"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M28 4L10 22 0 12l4-4 6 6L24 0l4 4z"
                fill="#fff" />
        </symbol>
    </svg>


    <form action="/recommendations" class="view_cont">
        <% geners.map((gener) => { %>
        <input type="text" value="<%- gener %>" style="display: none" name="geners[]" />
        <% }) %>

        <h3>Напиши название любимого фильма

        </h3>
        <input type="text" id="search" class="vid_itm" placeholder="Введи название">
        <div class="view_cont-wrap" id="items">
            <% videos.map((video, i) => {%>
            <input type="checkbox" name="films[]" value="<%= video.id %>" class="view_itm-in"
                id="video_item_<%- i %>">
            <label for="video_item_<%- i %>" class="view_itm" style="display: inline-block">
                <div class="view_itm-img">
                    <a class="view_itm-link">
                        <img src="<%- video.image.small%>" alt="" class="view_itm-img-cont">
                    </a>
                </div>

                <svg class="svg view_svg-check">
                    <use href="#icon-arrow_1" />
                </svg>
                <p class="view_itm-title">
                    <%= video.title %>
                </p>
                <p class="view_itm-info">
                    <%= video.year %>,
                    <%= video.genres[0] %>
                </p>
            </label>
            <% }) %>
        </div>
        <div class="view_cont-bottom">
            <button type="reset" class="view_cont-bottom-link view_cont-bottom-link__of btn">Отменить</button>
            <button type="submit" class="view_cont-bottom-link btn">Далее</button>
        </div>
    </form>
</section>

<script src="/public/js/textSearch.js"></script>