<section class="view view_2 view_slide">
	<div class="view_cont">
		<h2 class="view_main-title">ПРЕМЬЕРЫ</h2>
		<div class="view_cont-wrap">

			<% popularFims.map((item) => { %>
<<<<<<< HEAD
			<articl class="view_itm">
				<div class="view_itm-img">
					<a href="<%- item.href %>" class="view_itm-link">
						<img src="<%- item.image.small%>" alt="" class="view_itm-img-cont">
					</a>
				</div>
				<p class="view_itm-title">
					<%= item.title %>
				</p>
				<p class="view_itm-info">
					<%= item.year %>,
					<%= item.genres[0] %>
				</p>
			</articl>
=======
			<input type="checkbox" value="" class="view_itm-in" id="video_item_<%- item.id %>">
			<label for="video_item_<%- item.id %>">
				<articl class="view_itm">
					<div class="view_itm-img">
						<a href="<%- item.href %>" class="view_itm-link">
							<img src="<%- item.image.small%>"
								 alt="" class="view_itm-img-cont">
						</a>
					</div>
					<p class="view_itm-title">
						<%= item.title %>
					</p>
					<p class="view_itm-info"> <%= item.year %>,  <%= item.genres[0] %></p>
				</articl>
			</label>
>>>>>>> ad16c569ae512482fc9bd1eba61b0414f29d0987
			<% }); %>
		</div>

		<div class="view_cont-bottom">
			<p class="view_cont-bottom-desc">
				Войдите, чтобы посмотреть этот фильм бесплатно
			</p>
			<a href="#" class="view_cont-bottom-link btn">
				Посмотреть бесплатно
			</a>
		</div>

	</div>
</section>